footer
  div(class="logo")
    img(src="/assets/img/sf-logo.png")
  div(class="nav_bar")
    nav
      a(href="Home") Home
      a(href="Playground") Playground
      a(href="Kontakt") Rechtliches
      a(href="Impressum") Impressum
  p.
    Copyright Stefan Fuhrmann 2016
