footer
  div(class="logo")
    img(src="/assets/img/sf-logo.png")
  div(class="nav_bar")
    nav
      a(href="About me") About me
      a(href="Skills") Skills
      a(href="Referenzen") HOME
      a(href="Kontakt") Rechtliches
      a(href="Playground") Impressum
  p.
    Copyright Stefan Fuhrmann 2016
