header
  div(class="logo")
    img(src="/assets/img/sf-logo.png")
  div(class="nav_bar")
    nav
      a(href="About me") About me
      a(href="Skills") Skills
      a(href="Referenzen") Referenzen
      a(href="Kontakt") Kontakt
      a(href="Playground") Playground
  h1 Willkommen auf meiner Website
  p.
    Agiles Projektmanagment // Web-Development // IT-Infrastrukturen
  div(class="arrow_down")
    img(src="/assets/img/arrow_white.png")
