header
div(class="header_img")
    img(src="/assets/img/header1.png")
div(class="logo")
        img(src="/assets/img/arrow-white.png")
div(class="nav_bar")
  ul
    li About me
    li Skills
    li Referenzen
    li Kontakt
    li Playground

h1 Willkommen auf meiner Website

p.
  hier steht lauter random text

div(class="arrow_down")
  img(src="/assets/img/arrow_white.png")
