header
  div(class="logo")
    img(src="/assets/img/sf-logo-weiss.png")
  div(class="nav_bar")
    nav
      a(href="About me") Ich
      a(href="IT-Infrastrukturen 2.0") Infrastrukturen2.0
      a(href="Storage") Storage
      a(href="Projektmanagement") Projekte
      a(href="Web-Development") Web-Development
      a(href="Kontakt") Kontakt

  h1 Willkommen auf meiner Website
  p.
    Agiles Projektmanagment // Web-Development // IT-Infrastrukturen
  div(class="arrow_down")
    img(src="/assets/img/arrow_white.png")
